/* variables */
html {
  --uos-gray: #4A5E66;
  --df-off-black: rgb(35, 31, 32);
  --df-off-white: rgb(248, 248, 248);
  --df-footer-gray: rgb(239, 239, 239);
  --df-light-gray: rgb(224, 224, 224);
  --df-border-gray: rgb(192, 192, 192);
  --df-middle-gray: rgb(126, 131, 139);
  --df-dark-gray: rgb(66, 70, 72);
  --df-charcoal: rgb(34, 34, 34);
}

* { box-sizing: border-box }

body {
  margin: 0;
  background: var(--uos-gray);
  font-family: sans-serif;
  color: white;
}

.outer {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.nav {
  background: #222;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
.logo {
  height: 35px;
  margin: 10px 0 3px 15px;
  padding: 5px;
}
.header {
  letter-spacing: 0.1em;
  font-size: 18px;
  position: absolute;
  top: 16px;
  right: 10px;
  font-weight: bold;
}
.choose {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 18px;
  text-align: center;
  display: block;
  margin-top: 150px;
  padding-bottom: 15px;
}

.title {
  cursor: pointer;
  letter-spacing: 0.1em;
  background: #D9D9D9;
  text-transform: uppercase;
  color: black;
  font-size: 28px;
  margin: 10px 6px;
  padding: 20px 30px 18px 30px;
  display: inline-block;
  font-weight: 300;
  transition: all 0.3s linear;
}
.title:hover {
  background: black;
  color: white;
}

.word.videos {
  text-align: center;
}

.word .video-container {
  display: inline-block;
}

.video-container video {
  display: none;
}

.video-container.active video {
  display: block;
}

.bio.videos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.bio .video-container {
  flex: 0 0 33%;
  padding: 16px;
  position: relative;
}

/*.bio .video-container .aspect {
  position: relative;
  cursor: pointer;
}

.bio .video-container .aspect::before {
  padding-bottom: calc(9 / 16 * 100%);
  display: block;
  content: "";
}*/

.bio .video-container img {
  cursor: pointer;
  width: 100%;
  transition: all 0.3s linear;
}
.bio .video-container img:hover {
  opacity: 0.7;
}

.name {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding-left: 3px;
}